html{
    background-color: #C3B4D5;
    direction: rtl;
    overflow-x: hidden;
    >*{
        overflow-y: hidden;
    }
}

.App{
    .mail-black{
        &.open-mail{
            opacity: 0.4;
            transition: all .3s;
            pointer-events: all;

        }
        pointer-events: none;
        transition: all .3s;
        position: fixed;
        top: 0;
        background-color: black;
        height: 100vh;
        width: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    

    }
    .black-screen{
        &.open-phone{
            opacity: 0.4;
            transition: all .3s;
            pointer-events: all;

        }
        pointer-events: none;
        transition: all .3s;
        position: fixed;
        top: 0;
        background-color: black;
        height: 100vh;
        width: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
}